/*pagination style start */
.admin-pagination{
    padding:15px; 
    text-align: center;
}

.admin-pagination>li{
    display: inline-block;
}
.admin-link{
    padding: 20px;
    background-color:#2196F3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    cursor: pointer;
    font-size:20px;
}
.admin-prev, .admin-nex{
    padding: 15px 20px;
    background-color:#2196F3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    cursor: pointer;
    font-size:20px;
}
.admin-active> a{
    background-color:#78909C;
}

a:hover, a:active, a:focus{
    text-decoration: none !important;
    outline: none !important;
}
/*pagination style end */

.admin-list-wrapper{
    max-width:1300px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.admin-product-item{
    width: 170px;
    height: 100px;
    overflow: hidden;
    word-break: normal;
    
} 

.admin-product-item > img{
    height: 100px;
    
}

.admin-btn-center{
    margin: 20px 0;
    display: inline-block;
}

.admin-ico-big{
    font-size: 35px !important;
    margin: 35px 0 !important;
}

.admin-inner-panel{
    margin: 10px !important; 
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.admin-inner-panel:hover{
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrap-padding{
    padding-right:5px !important;
    padding-left:5px !important;
}


/* Serch bar start */
.search-bar{
    margin: 10px !important;
    padding: 5px !important;
    height: 50px;
}
.search-wrap{
    display: inline-flex !important;
    width: 100%;
}
.search-wrap > i{
    font-size: 35px;
}
.Search-box{
    font-size: 25px !important;
}
/* Serch bar end */